*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

:root{
    --pa-xs:5px;
    --wid-m:500px;
    --wid-l:600px;
    --wid-xl:1300px;
    --pa-xl:50px;
    --ma-2xl:200px;
}

body{
    font-family: sans-serif;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
}

/* header */

header{
    background-color: rgb(49, 97, 224);
    padding: 20px;
}

.navbar{
    font-size: 25px;
}

.logo{
    flex-basis: 20%;
    padding: var(--pa-xs);
}

.logo img{
    vertical-align: middle;
}

.nav{
    flex-basis: 60%;
    text-align: center;
    padding: var(--pa-xs);
}

.nav a{
    color: white;
    text-decoration: none;
    font-size: 22px;
    padding: 25px;
}

.login{
    flex-basis: 20%;
    text-align: right;
    padding: var(--pa-xs);
}

.login a{
    color: black;
    background-color: white;
    text-decoration: none;
    font-size: 22px;
    padding: 5px 20px;
    border-radius: 25px;
}

/* main */

.grid-jumbo{
    background-image: url(../img/jumbo.png);
    background-size:cover;
}

.grid-witw{
    background-color: white;
}

.grid-grey{
    background-color: rgb(246, 246, 246);
}


/* card */
.card-jumbo{
    max-width: var(--wid-xl);
    min-height: 520px;
    margin: 0 auto;
    text-align: center;
}

.card-jumbo p{
    color: white;
    font-size: 21px;
    margin-bottom: 50px;
    line-height: 35px;
}

.card-jumbo a{
    font-size: 25px;
    text-decoration: none;
    border-radius: 30px;
    padding:15px;
}

.button-download{
    background-color: white ;
    color: rgb(35, 39, 42);
    margin-right: 30px;
}

.button-open-browser{
    background-color: black ;
    color: white;
}


.card-large{
    min-height: var(--wid-m);
    flex-basis: 60%;
}

.card-small{
    min-height: var(--wid-m);
    flex-basis: 40%;
    padding: 35px 70px;
}

.card-small p{
    font-size: 25px;
    line-height: 30px;
}

.card-full{
    min-height: var(--wid-xl);
    flex-basis: 100%;
    text-align: center;
}

.card-full-text{
    font-size: 25px;
    line-height: 30px;
    margin-top: 100px;
    padding: 0 100px;
}

.video-calls{
    width: 1300px;
}

.container-stars{
width: 1400px;
position: absolute;
justify-content: center;
}
.card-full a{
    font-size: 25px;
    text-decoration: none;
    border-radius: 30px;
    padding:15px;
}

.button-end{
    background-color: rgb(88, 101, 242) ;
    color: white;
    margin-right: 30px;
}

.card-coral{
    min-height: var(--wid-l);
    flex-basis: 30%;
    background-color: rgb(240, 128, 128);
}

.card-seagreen{
    min-height: var(--wid-l);
    flex-basis: 70%;
    background-color: rgb(32, 178, 170);
    display: flex;
}

.card-aquamarine{
    min-height: 100px;
    flex-basis: 100%;
    background-color: rgb(127, 255, 212);
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* footer */

footer{
    background-color: rgb(35, 39, 42);
    padding-top: 10px;
    
}

.darkblue-first{
    padding-bottom: var(--pa-xl);
    border-bottom: 2px solid white;
}

.darkblue-second{
    padding-top: var(--pa-xl);
}

.column{
    flex-basis: 25%;
    border: 3px dashed white;
}

.nav-footer{
    font-size: 20px;
    padding: var(--pa-xs);
    background-color: rgb(255, 182, 193);
}

/* utilities */

.border{
    border: 3px dashed black;
}

.pa-50{
    padding: var(--pa-xl) 0;

}

.ma-200{
    margin:200px 0;

}

.wave{
    display: block;
}

.wave-reverse{
    rotate: 0.5turn;
}

.arrow{
    font-size: 25px;
}

h1{
    font-size: 64px;
    color: white;
    padding: 50px;
}

h2{
    font-size: 52px;
    margin-bottom: 30px;
}

h3{
    font-size: 28px;
    margin-top: 35px;
    margin-bottom: 50px;
    
}